<% provide(:title, "Top") %>
<div class="center jumbotron top-main">
  <h1>リバーシ棋譜管理プログラム</h1>
  <p>このアプリケーションはリバーシの棋譜情報を検索・閲覧・登録・編集することができます。</p>
  <div class="link">
    <% if logged_in? %>	  
    	<%= link_to "Play", new_user_record_path(current_user.id), class: "btn btn-primary" %>
    <% end %>
  </div class="link">
  <div class="link">
    <%= link_to "盤面編集", '#', class: "btn btn-primary" %>
  </div>
  <div class="link">
    <% if logged_in? %>
      <%= link_to "パーソナル棋譜を開く", user_records_path(current_user.id), class: "btn btn-primary"%>
    <% end %>
  </div>
  <div class="link">
    <%= link_to "グローバル棋譜検索", '#', class: "btn btn-primary" %>
  </div>
  <div class="link">
    <% unless logged_in? %> 
      <%= link_to "ログイン", login_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <%= link_to "ユーザー登録", signup_path, class: "btn btn-primary" %>
  </div>
</div>
