<% provide(:title, "Top") %>
<div class="center jumbotron top-main">
  <h1>リバーシ棋譜管理プログラム</h1>
  <p>このアプリケーションはリバーシの棋譜情報を検索・閲覧・登録・編集することができます。</p>
  <div class="link">
    <% if logged_in? %>	  
    	<%= link_to "ふたりで遊ぶ", new_user_game_record_path(current_user.id), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% if logged_in? %>	  
    	<%= link_to "AIと対戦する", vs_ai_configration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% if logged_in? %>
      <%= link_to "盤面を編集する", new_user_edit_board_path(current_user.id), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% if logged_in? %>
      <%= link_to "パーソナル棋譜を開く", user_game_records_path(current_user.id), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% if logged_in? %>
      <%= link_to "棋譜を指定して開く", new_user_specify_kifu_and_open_path(current_user.id), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% if logged_in? %>	  
      <%= link_to "検索条件を指定する（棋譜）", new_user_search_path(current_user.id), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% if logged_in? %>	  
      <%= link_to "検索結果を表示する（棋譜）", search_user_game_records_path(current_user.id), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% if logged_in? %>	  
      <%= link_to "検索する", new_user_various_search_path(current_user.id), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% if logged_in? %>
      <%= link_to "カテゴリー検索する", category_path(current_user.id), data: {"turbolinks" => false}, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <% unless logged_in? %> 
      <%= link_to "ログイン", login_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="link">
    <%= link_to "ユーザー登録", signup_path, class: "btn btn-primary" %>
  </div>
</div>
