<% provide(:title, 'All Records') %>
<h1>棋譜一覧</h1>
<div>
  <table class="table table-bordered table-condensed table-striped table-hover bases-table">
    <thead>
      <tr>
        <td>タイトル</td>
        <td>黒プレイヤー</td>
        <td>白プレイヤー</td>
        <td>対局日</td>
	<td>対局場所</td>
	<td>棋譜</td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
    </thead>
      <tbody>
      <% @records.each do |record| %>
      <tr>
        <td><%= record.title %></td>
        <td><%= record.black_player %></td>
	<td><%= record.white_player %></td>
	<td><%= record.date_played %></td>
	<td><%= record.place_played %></td>
	<td><%= record.kihu_record %></td>
	<td><%= link_to "編集", edit_user_record_path(current_user.id, record.id), class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to "削除", user_record_path(current_user.id, record.id), method: :delete,
              data: { confirm: "「#{record.title}」を削除してよろしいですか？" }, class: "btn btn-primary btn-sm" %></td>
	<td><%= link_to "開く", show_board_path(record.id, "true"), data: {"turbolinks" => false}, class: "btn btn-primary btn-sm" %></td>
      </tr>  
      <% end %>
    </tbody>
  </table>
</div>
