    <%= form_with (scope: :boards, url: new_board_path(@record.id), id: :form1, local: true) do |f| %>
      <div id="Computer">	    
        <%= f.label :コンピュータ %>
	<%= f.check_box :checkbox, id: :Computer, :as => :boolean %>
      </div>
      <div id="First">
        <%= f.label :先攻 %>
	<%= f.check_box :checkbox, id: :First, :as => :boolean %>
      </div>
      <div id="form-button">
	<%= f.submit %>
      </div>
    <% end %>


