<% provide(:title, "Play") %>
<html>
  <head>
    <title>Othello</title>
  </head>

  <body>	  
    <div class = "title">	    
      <%= @record.title %>
    </div>
    <div class = "black_player">
      <p><%= @record.black_player %></p>
    </div>
    <div id="black_count"></div>
    <!-- 盤面の要素定義 -->
    <div style="display:none">
      <div id="dot" class="black_dot"><div class="black_dot"></div></div>	    
      <div id="corner" class="corner_square"><div class="corner"></div></div>	    
      <div id="side_frame" class="side_rectangle"><div class="side_frame"></div></div>
      <div id="vertical_frame" class="vertical_rectangle"><div class="vertical_frame"></div></div>
      <div id="cell" class="square"><div class="cell"></div></div>
      <div id="black" class="square"><img class="block" src="/black.png"></img></div>
      <div id="white" class="square"><img class="block" src="/white.png"></img></div>
    </div>

    <div id="board"></div>
    <div id="msg"></div>

    <form action="#" name="form1" id="form1">
      <br>	    
        <label>
          <input type="checkbox" name="Computer" value="コンピュータ">
        </label>
      <br>
      <label>
        <input type="checkbox" name="First" value="先攻">
      </label>
      <p>
        <br>
	<input type="button" id="form-button" value="Play" onclick="OnClickButton();">
	<br>
      </p>
    </form>

    <div class = "white_player">
      <p>◯  4  <%= @record.white_player %></p>
    </div>
    <div class = "next_button">
      <p><%= link_to "|<<", "#", class: "btn btn-default" %></p>
    </div>
  </body>
  <%= javascript_include_tag 'othello.js'%>
</html>
