<% provide(:title, "Play") %>
<html>
  <head>
    <title>Othello</title>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>

  <body>
    <div class = "title">	    
      <%= @game_record.title %>
    </div>
    <div class = "black_player">
      <p>● <span id="black_count"></span> <%= @game_record.black_player %></p>
    </div>
    <div id="black_count"></div>
    <!-- 盤面の要素定義 -->
    <div style="display:none">
      <div id="dot" class="black_dot"><div class="black_dot"></div></div>	    
      <div id="corner" class="corner_square"><div class="corner"></div></div>	    
      <div id="side_frame" class="side_rectangle"><div class="side_frame"></div></div>
      <div id="vertical_frame" class="vertical_rectangle"><div class="vertical_frame"></div></div>
      <div id="cell" class="square"><div class="cell"></div></div>
      <div id="black" class="square"><img class="block" src="/black.png"></img></div>
      <div id="white" class="square"><img class="block" src="/white.png"></img></div>
    </div>

    <div id="board"></div>
    <div id="msg"></div>
    <p class="bottom"><a href="#last-msg" data-box=".box" class="link" ></a></p>
    <div class="box" id="msg_kifu">
      <input type = "text" readonly="readonly" id = "a0" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a1" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a2" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a3" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a4" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a5" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a6" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a7" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a8" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a9" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a10" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a11" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a12" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a13" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a14" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a15" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a16" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a17" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a18" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a19" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a20" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a21" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a22" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a23" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a24" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a25" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a26" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a27" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a28" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a29" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a30" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a31" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a32" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a33" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a34" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a35" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a36" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a37" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a38" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a39" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a40" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a41" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a42" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a43" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a44" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a45" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a46" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a47" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a48" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a49" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a50" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a51" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a52" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a53" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a54" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a55" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a56" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a57" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a58" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a59" class="kifu_textbox"><br>
      <input type = "text" readonly="readonly" id = "a60" class="kifu_textbox"><br>
    </div>
    <div id = "simple_kifu"></div>
    <form action="#" name="form1" id="form1">
      <p>        
      <input type="checkbox" name="Computer" id="Computer" />
      <label for="Computer" id="Computer2">AIと対戦する</label>
      </p>
      <p>
        <input type="checkbox" name="First" id="First">
	<label for="First" id="First2">あなたが先攻</label>
      </p>
      <p>
        <input type="button" id="Reset" value="Reset">
	<input type="button" id="Save" value="Save">
	<input type="button" id="SaveAs" value ="SaveAs">
      </p>     
      <p>
        <input type="button" id="back_to_beginning" value="|<">
      </p>
      <p>
        <input type="button" id="previous_button" value="<<">
      </p>
      <p> 
        <input type="button" id="next_button" value=">>">
      </p>
      <p>
      <input type="button" id="go_to_end" value=">|">
      </p>
    </form>
    <div class = "white_player">
      <p>◯ <span id="white_count"></span> <%= @game_record.white_player %></p>
    </div>
    <div id="open">
      <%= link_to "パーソナル棋譜を開く", user_game_records_path(current_user.id), class: "btn btn-primary"%>
    </div>
    <button class="btn btn-primary copy_clipboard" data-clipboard-action="copy" data-clipboard-target="#simple_kifu"%>棋譜をクリップボードにコピーする</button>
  </body>
  <%= javascript_include_tag 'othello.js'%>
</html>
