<% provide(:title, "Play") %>
<html>
  <head>
    <title>Othello</title>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>

  <body>
    <div class = "title">	    
      <%= @game_record.title %>
    </div>
    <div class = "black_player">
      <p>●  6  <%= @game_record.black_player %></p>
    </div>
    <div id="black_count"></div>
    <!-- 盤面の要素定義 -->
    <div style="display:none">
      <div id="dot" class="black_dot"><div class="black_dot"></div></div>	    
      <div id="corner" class="corner_square"><div class="corner"></div></div>	    
      <div id="side_frame" class="side_rectangle"><div class="side_frame"></div></div>
      <div id="vertical_frame" class="vertical_rectangle"><div class="vertical_frame"></div></div>
      <div id="cell" class="square"><div class="cell"></div></div>
      <div id="black" class="square"><img class="block" src="/black.png"></img></div>
      <div id="white" class="square"><img class="block" src="/white.png"></img></div>
    </div>

    <div id="board"></div>
    <div id="msg"></div>
    <div id="msg_kifu"></div>
    <form action="#" name="form1" id="form1">
      <p>        
      <input type="checkbox" name="Computer" id="Computer" />
      <label for="Computer" id="Computer2">コンピュータ</label>
      </p>
      <p>
        <input type="checkbox" name="First" id="First">
	<label for="First" id="First2">先攻</label>
      </p>
      <p>
        <input type="button" id="Play" value="Play">
        <input type="button" id="Save" value="Save">
      </p>     
      <p>
        <input type="button" id="back_to_beginning" value="|<">
      </p>
      <p>
        <input type="button" id="previous_button" value="<<">
      </p>
      <p> 
        <input type="button" id="play_back" value="Play Back">
      </p>
      <p> 
        <input type="button" id="next_button" value=">>">
      </p>
      <p>
      <input type="button" id="go_to_end" value=">|">
      </p> 
    </form>
    <div class = "white_player">
      <p>◯  4  <%= @game_record.white_player %></p>
    </div>
    <div id="open">
      <%= link_to "パーソナル棋譜を開く", user_game_records_path(current_user.id), class: "btn btn-primary"%>    
    </div>    
 
  </body>
  <%= javascript_include_tag 'othello.js'%>
</html>
