<% provide(:title, "Play") %>
<html>
  <head>
    <title>Othello</title>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>
  </head>

  <body>
    <div class = "title">	    
    <%= @game_record.id %> : <%= @game_record.title %>
    </div>
    <div class = "black_player">
    <p>● <span id="black_count"></span> <span id="black_player_name"><%= @game_record.black_player %></span></p>
    </div>
    <div id="black_count"></div>
    <!-- 盤面の要素定義 -->
    <div style="display:none">
      <div id="dot" class="black_dot"><div class="black_dot"></div></div>	    
      <div id="corner" class="corner_square"><div class="corner"></div></div>	    
      <div id="side_frame" class="side_rectangle"><div class="side_frame"></div></div>
      <div id="vertical_frame" class="vertical_rectangle"><div class="vertical_frame"></div></div>
      <div id="cell" class="square"><div class="cell"></div></div>
      <div id="black" class="square"><img class="block" src="/black_32_28.png"></img></div>
      <div id="white" class="square"><img class="block" src="/white_32_28.png"></img></div>
      <div id="yellow_frame_corner" class="yellow_frame_corner_square"><div class="yellow_frame_corner"></div></div>
      <div id="yellow_frame_side_frame" class="yellow_frame_side_rectangle"><div class="yellow_frame_side_frame"></div></div>
      <div id="yellow_frame_vertical_frame" class="yellow_frame_vertical_rectangle"><div class="yellow_frame_vertical_frame"></div></div>
    </div>

    <div id="board"></div>
    <input type="button" id="edit_board_ok" value="OK">
    <input type="button" id="search_board_ok1" value="s1OK">
    <input type="button" id="search_board_ok2" value="s2OK">
    <input type="button" id="edit_board_cancel" value="Cancel">
    <input type="button" id="search_board_cancel1" value="s1Cancel">
    <input type="button" id="search_board_cancel2" value="s2Cancel">
    <p class="bottom"><a href="#last-msg" data-box=".box" class="link" ></a></p>
    <div class="box" id="msg_kifu">
        <input type = "text" readonly="readonly" id = "a0" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a1" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a2" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a3" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a4" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a5" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a6" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a7" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a8" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a9" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a10" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a11" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a12" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a13" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a14" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a15" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a16" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a17" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a18" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a19" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a20" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a21" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a22" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a23" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a24" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a25" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a26" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a27" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a28" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a29" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a30" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a31" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a32" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a33" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a34" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a35" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a36" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a37" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a38" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a39" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a40" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a41" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a42" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a43" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a44" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a45" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a46" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a47" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a48" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a49" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a50" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a51" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a52" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a53" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a54" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a55" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a56" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a57" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a58" class="kifu_textbox"><br>
        <input type = "text" readonly="readonly" id = "a59" class="kifu_textbox"><br>
	<input type = "text" readonly="readonly" id = "a60" class="kifu_textbox"><br>
	<input type = "text" readonly="readonly" id = "a61" class="kifu_textbox"><br>
	<input type = "text" readonly="readonly" id = "a62" class="kifu_textbox"><br>
	<input type = "text" readonly="readonly" id = "a63" class="kifu_textbox"><br>
	<input type = "text" readonly="readonly" id = "a64" class="kifu_textbox"><br>
    </div>
    <div id = "simple_kifu"></div>
    <div id = "next_hand_text">
      <span> 次の手 </span>
    </div>
    <div id = "stone_selection_text">
      <span> 石選択 </span>
    </div>
    <div id = "your_stone_color_text">
      <span> あなたの石</span>
    </div>
    <div id="next_hand"></div>
    <div id="next_hand_frame"></div>
    <div id="stone_selection"></div>
    <div id="stone_selection_frame"></div>
    <div id="your_stone_color"></div>
    <div id="your_stone_color_frame"></div>
    <form action="#" name="form1" id="form1">
      <p>        
      <input type="checkbox" name="Computer" id="Computer_checkbox" />
      <label for="Computer" id="Computer_text">AIと対戦する</label>
      </p>
      <!--p>
        <input type="checkbox" name="First" id="First_checkbox">
	<label for="First" id="First_text">あなたが先攻</label>
      </p-->
      <p>
        <input type="button" id="Reset" value="上の条件に変更して始めからプレイする">
        <input type="button" id="Reset2" value="上の条件に変更して継続してプレイする">
	<input type="button" class="btn btn-primary" id="Save" value="保存">
	<input type="button" class="btn btn-primary" id="SaveAs" value ="別名で保存">
	<input type="button" class="btn btn-primary" id="EditBoard" value="盤面を編集する">
	<input type="button" class="btn btn-primary js-modal-open" id="Transform" value="棋譜変換">
	<% if logged_in? %>
	  <input type="button" class="btn btn-primary" id="Search" value="検索条件を指定する">
	<% else %>
	  <input type="button" class="btn btn-primary" id="Search" value="検索条件を指定する" disabled="disabled">
	<% end %>
	<div class="modal js-modal">
	  <div class="modal__bg js-modal-close"></div>
	  <div class="modal__content btn-group-vertical button-area">
	    <input type="button" class="btn btn-primary" id="Sigma" value="時計回りに90度回転">
            <input type="button" class="btn btn-primary" id="Sigma2" value="180度回転">
	    <input type="button" class="btn btn-primary" id="Sigma3" value="反時計回りに90度回転">
            <input type="button" class="btn btn-primary" id="Tau" value="横軸に関して対称変換">
            <input type="button" class="btn btn-primary" id="Sigma2Tau" value="縦軸に関して対称変換">
	    <input type="button" class="btn btn-primary" id="SigmaTau" value="ブラックラインに関して対称変換">
	    <input type="button" class="btn btn-primary" id="Sigma3Tau" value="ホワイトラインに関して対称変換">
	    <input type="button" class="btn btn-primary" id="TransformF5" value="初手がF5になるように変換する">
	    <input type="button" class="btn btn-primary js-modal-close" id="CloseTransform" value="閉じる">  
	  </div>
	</div>
      </p>     
      <p>
        <input type="button" id="back_to_beginning" value="|<">
      </p>
      <p>
        <input type="button" id="previous_button" value="<<">
      </p>
      <p> 
        <input type="button" id="next_button" value=">>">
      </p>
      <p>
      <input type="button" id="go_to_end" value=">|">
      </p>
    </form>
    <div class = "white_player">
    <p>◯ <span id="white_count"></span> <span id="white_player_name"><%= @game_record.white_player %></span></p>
    </div>
    <% if logged_in? %>
      <div id = "open">
        <%= button_to "棋譜一覧を開く", user_game_records_path(current_user.id), {method: :get, id: "open_button", class: "btn btn-primary w-260px"}%>
      </div>
      <% if searched? %>
        <div class = "searched">
          <%= button_to "検索結果を表示する", search_user_game_records_path(current_user.id), {method: :get, id: "searched_button", class: "btn btn-primary w-260px"}%>
        </div>
      <% else %>
        <div class = "searched">
          <%= button_to "検索結果を表示する", search_user_game_records_path(current_user.id), {disabled: :true, method: :get, id: "searched_button", class: "btn btn-primary w-260px"}%>
	</div>
      <% end %>
    <% else %>
       <div id = "open">
        <%= button_to "棋譜一覧を開く", "#", {disabled: :true, method: :get, id: "open_button", class: "btn btn-primary w-260px"}%>
       </div>
       <div class = "searched">
        <%= button_to "検索結果を表示する", "#", {disabled: :true, method: :get, id: "searched_button", class: "btn btn-primary w-260px"}%>
      </div>
    <% end %>
    <button id="clipboard_button" class="btn btn-primary copy_clipboard" data-clipboard-action="copy" data-clipboard-target="#simple_kifu"%>棋譜をクリップボードにコピーする</button>
    <textarea name="test0" value="0" id="text0" class="comment_textarea" cols="50" rows=18 placeholder="ここに初期状態のコメントを入力してください。"></textarea><br/>
    <textarea name="test1" value="1" id="text1" class="comment_textarea" cols="50" rows=18 placeholder="ここに1手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test2" value="2" id="text2" class="comment_textarea" cols="50" rows=18 placeholder="ここに2手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test3" value="3" id="text3" class="comment_textarea" cols="50" rows=18 placeholder="ここに3手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test4" value="4" id="text4" class="comment_textarea" cols="50" rows=18 placeholder="ここに4手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test5" value="5" id="text5" class="comment_textarea" cols="50" rows=18 placeholder="ここに5手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test6" value="6" id="text6" class="comment_textarea" cols="50" rows=18 placeholder="ここに6手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test7" value="7" id="text7" class="comment_textarea" cols="50" rows=18 placeholder="ここに7手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test8" value="8" id="text8" class="comment_textarea" cols="50" rows=18 placeholder="ここに8手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test9" value="9" id="text9" class="comment_textarea" cols="50" rows=18 placeholder="ここに9手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test10" value="10" id="text10" class="comment_textarea" cols="50" rows=18 placeholder="ここに10手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test11" value="11" id="text11" class="comment_textarea" cols="50" rows=18 placeholder="ここに11手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test12" value="12" id="text12" class="comment_textarea" cols="50" rows=18 placeholder="ここに12手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test13" value="13" id="text13" class="comment_textarea" cols="50" rows=18 placeholder="ここに13手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test14" value="14" id="text14" class="comment_textarea" cols="50" rows=18 placeholder="ここに14手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test15" value="15" id="text15" class="comment_textarea" cols="50" rows=18 placeholder="ここに15手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test16" value="16" id="text16" class="comment_textarea" cols="50" rows=18 placeholder="ここに16手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test17" value="17" id="text17" class="comment_textarea" cols="50" rows=18 placeholder="ここに17手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test18" value="18" id="text18" class="comment_textarea" cols="50" rows=18 placeholder="ここに18手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test19" value="19" id="text19" class="comment_textarea" cols="50" rows=18 placeholder="ここに19手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test20" value="20" id="text20" class="comment_textarea" cols="50" rows=18 placeholder="ここに20手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test21" value="21" id="text21" class="comment_textarea" cols="50" rows=18 placeholder="ここに21手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test22" value="22" id="text22" class="comment_textarea" cols="50" rows=18 placeholder="ここに22手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test23" value="23" id="text23" class="comment_textarea" cols="50" rows=18 placeholder="ここに23手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test24" value="24" id="text24" class="comment_textarea" cols="50" rows=18 placeholder="ここに24手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test25" value="25" id="text25" class="comment_textarea" cols="50" rows=18 placeholder="ここに25手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test26" value="26" id="text26" class="comment_textarea" cols="50" rows=18 placeholder="ここに26手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test27" value="27" id="text27" class="comment_textarea" cols="50" rows=18 placeholder="ここに27手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test28" value="28" id="text28" class="comment_textarea" cols="50" rows=18 placeholder="ここに28手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test29" value="29" id="text29" class="comment_textarea" cols="50" rows=18 placeholder="ここに29手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test30" value="30" id="text30" class="comment_textarea" cols="50" rows=18 placeholder="ここに30手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test31" value="31" id="text31" class="comment_textarea" cols="50" rows=18 placeholder="ここに31手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test32" value="32" id="text32" class="comment_textarea" cols="50" rows=18 placeholder="ここに32手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test33" value="33" id="text33" class="comment_textarea" cols="50" rows=18 placeholder="ここに33手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test34" value="34" id="text34" class="comment_textarea" cols="50" rows=18 placeholder="ここに34手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test35" value="35" id="text35" class="comment_textarea" cols="50" rows=18 placeholder="ここに35手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test36" value="36" id="text36" class="comment_textarea" cols="50" rows=18 placeholder="ここに36手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test37" value="37" id="text37" class="comment_textarea" cols="50" rows=18 placeholder="ここに37手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test38" value="38" id="text38" class="comment_textarea" cols="50" rows=18 placeholder="ここに38手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test39" value="39" id="text39" class="comment_textarea" cols="50" rows=18 placeholder="ここに39手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test40" value="40" id="text40" class="comment_textarea" cols="50" rows=18 placeholder="ここに40手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test41" value="41" id="text41" class="comment_textarea" cols="50" rows=18 placeholder="ここに41手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test42" value="42" id="text42" class="comment_textarea" cols="50" rows=18 placeholder="ここに42手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test43" value="43" id="text43" class="comment_textarea" cols="50" rows=18 placeholder="ここに43手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test44" value="44" id="text44" class="comment_textarea" cols="50" rows=18 placeholder="ここに44手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test45" value="45" id="text45" class="comment_textarea" cols="50" rows=18 placeholder="ここに45手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test46" value="46" id="text46" class="comment_textarea" cols="50" rows=18 placeholder="ここに46手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test47" value="47" id="text47" class="comment_textarea" cols="50" rows=18 placeholder="ここに47手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test48" value="48" id="text48" class="comment_textarea" cols="50" rows=18 placeholder="ここに48手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test49" value="49" id="text49" class="comment_textarea" cols="50" rows=18 placeholder="ここに49手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test50" value="50" id="text50" class="comment_textarea" cols="50" rows=18 placeholder="ここに50手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test51" value="51" id="text51" class="comment_textarea" cols="50" rows=18 placeholder="ここに51手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test52" value="52" id="text52" class="comment_textarea" cols="50" rows=18 placeholder="ここに52手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test53" value="53" id="text53" class="comment_textarea" cols="50" rows=18 placeholder="ここに53手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test54" value="54" id="text54" class="comment_textarea" cols="50" rows=18 placeholder="ここに54手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test55" value="55" id="text55" class="comment_textarea" cols="50" rows=18 placeholder="ここに55手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test56" value="56" id="text56" class="comment_textarea" cols="50" rows=18 placeholder="ここに56手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test57" value="57" id="text57" class="comment_textarea" cols="50" rows=18 placeholder="ここに57手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test58" value="58" id="text58" class="comment_textarea" cols="50" rows=18 placeholder="ここに58手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test59" value="59" id="text59" class="comment_textarea" cols="50" rows=18 placeholder="ここに59手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test60" value="60" id="text60" class="comment_textarea" cols="50" rows=18 placeholder="ここに60手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test61" value="61" id="text61" class="comment_textarea" cols="50" rows=18 placeholder="ここに61手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test62" value="62" id="text62" class="comment_textarea" cols="50" rows=18 placeholder="ここに62手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test63" value="63" id="text63" class="comment_textarea" cols="50" rows=18 placeholder="ここに63手目のコメントを入力してください。"></textarea><br/>
    <textarea name="test64" value="64" id="text64" class="comment_textarea" cols="50" rows=18 placeholder="ここに64手目のコメントを入力してください。"></textarea><br/>
    <input type="button" id="delete_comment" value="削除" />
    <input type="button" id="cancel_comment" value="キャンセル" />
    <input type="button" id="save_comment" value="保存" />
  </body>
  <%= javascript_include_tag 'othello.js'%>
</html>
