<% provide(:title, "Play") %>
<html>
  <head>
    <title>Othello</title>
    <script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
  </head>

  <body>
    <div class = "title">	    
      <%= @game_record.title %>
    </div>
    <div class = "black_player">
      <p>●  6  <%= @game_record.black_player %></p>
    </div>
    <div id="black_count"></div>
    <!-- 盤面の要素定義 -->
    <div style="display:none">
      <div id="dot" class="black_dot"><div class="black_dot"></div></div>	    
      <div id="corner" class="corner_square"><div class="corner"></div></div>	    
      <div id="side_frame" class="side_rectangle"><div class="side_frame"></div></div>
      <div id="vertical_frame" class="vertical_rectangle"><div class="vertical_frame"></div></div>
      <div id="cell" class="square"><div class="cell"></div></div>
      <div id="black" class="square"><img class="block" src="/black.png"></img></div>
      <div id="white" class="square"><img class="block" src="/white.png"></img></div>
    </div>

    <div id="board"></div>
    <div id="msg"></div>
    <p class="bottom"><a href="#last-msg" data-box=".box" class="link" ></a></p>
    <div class="box" id="msg_kifu">
      <input type = "text" readonly="readonly" id = "a0" class="kifu_textbox">
      <input readonly id = "a1"><br>
      <input readonly id = "a2"><br>
      <input readonly id = "a3"><br>
      <input readonly id = "a4"><br>
      <input readonly id = "a5"><br>
      <input readonly id = "a6"><br>
      <input readonly id = "a7"><br>
      <input readonly id = "a8"><br>
      <input readonly id = "a9"><br>
      <input readonly id = "a10"><br>
      <input readonly id = "a11"><br>
      <input readonly id = "a12"><br>
      <input readonly id = "a13"><br>
      <input readonly id = "a14"><br>
      <input readonly id = "a15"><br>
      <input readonly id = "a16"><br>
      <input readonly id = "a17"><br>
      <input readonly id = "a18"><br>
      <input readonly id = "a19"><br>
      <input readonly id = "a20"><br>
      <input readonly id = "a21"><br>
      <input readonly id = "a22"><br>
      <input readonly id = "a23"><br>
      <input readonly id = "a24"><br>
      <input readonly id = "a25"><br>
      <input readonly id = "a26"><br>
      <input readonly id = "a27"><br>
      <input readonly id = "a28"><br>
      <input readonly id = "a29"><br>
      <input readonly id = "a30"><br>
      <input readonly id = "a31"><br>
      <input readonly id = "a32"><br>
      <input readonly id = "a33"><br>
      <input readonly id = "a34"><br>
      <input readonly id = "a35"><br>
      <input readonly id = "a36"><br>
      <input readonly id = "a37"><br>
      <input readonly id = "a38"><br>
      <input readonly id = "a39"><br>
      <input readonly id = "a40"><br>
      <input readonly id = "a41"><br>
      <input readonly id = "a42"><br>
      <input readonly id = "a43"><br>
      <input readonly id = "a44"><br>
      <input readonly id = "a45"><br>
      <input readonly id = "a46"><br>
      <input readonly id = "a47"><br>
      <input readonly id = "a48"><br>
      <input readonly id = "a49"><br>
      <input readonly id = "a50"><br>
      <input readonly id = "a51"><br>
      <input readonly id = "a52"><br>
      <input readonly id = "a53"><br>
      <input readonly id = "a54"><br>
      <input readonly id = "a55"><br>
      <input readonly id = "a56"><br>
      <input readonly id = "a57"><br>
      <input readonly id = "a58"><br>
      <input readonly id = "a59"><br>
      <input readonly id = "a60"><br>
    </div>
    <div id = "simple_kifu"></div>
    <form action="#" name="form1" id="form1">
      <p>        
      <input type="checkbox" name="Computer" id="Computer" />
      <label for="Computer" id="Computer2">AIと対戦する</label>
      </p>
      <p>
        <input type="checkbox" name="First" id="First">
	<label for="First" id="First2">あなたが先攻</label>
      </p>
      <p>
        <input type="button" id="Reset" value="Reset">
	<input type="button" id="Save" value="Save">
	<input type="button" id="SaveAs" value ="SaveAs">
      </p>     
      <p>
        <input type="button" id="back_to_beginning" value="|<">
      </p>
      <p>
        <input type="button" id="previous_button" value="<<">
      </p>
      <p> 
        <input type="button" id="next_button" value=">>">
      </p>
      <p>
      <input type="button" id="go_to_end" value=">|">
      </p>
    </form>
    <div class = "white_player">
      <p>◯  4  <%= @game_record.white_player %></p>
    </div>
    <div id="open">
      <%= link_to "パーソナル棋譜を開く", user_game_records_path(current_user.id), class: "btn btn-primary"%>    
    </div>    
 
  </body>
  <%= javascript_include_tag 'othello.js'%>
</html>
