<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> | Reversi game management App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= include_gon(:init => true) %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'boards' %>
    <!-- HTML shimがこの1行で収まる -->
    <%= render 'layouts/shim' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      $('.dropdown-toggle').dropdown()
    </script>
 </head>
  <body>
    <%= include_gon %>
    <%= Gon::Base.render_data %>
    <!-- headerの内容がこの1行で収まる -->
    <%= render 'layouts/header' %>
    <div class="container">      
      <% flash.each do |message_type, msg| %>
         <div class="alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
